.container {
  display: flex;
  background-color: var(--backgroundColor);
  justify-content: space-between;
  flex-direction: column;
  height: calc(var(--app-height) - 70px);
  padding: 20px;
}

.goBack {
  margin-bottom: 5px;
}

.title {
  color: var(--font);
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}

.span {
  color: var(--gray);
  font-size: 15px;
  margin-bottom: 5px;
  text-align: left;
}

.textFirst {
  color: var(--gray);
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.text {
  color: var(--gray);
  font-size: 15px;
  margin-bottom: 10px;
  text-align: left;
}

.btn {
  background-color: var(--background);
  border-radius: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-color: transparent;
  color: var(--title);
  font-size: 16px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .btn {
    width: 50%;
  }
}

.info {
  color: var(--gray);
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  align-self: center;
  margin-bottom: 10px;
}

.wordsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 100%;
}

@media (min-width: 768px) {
  .wordsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

.wordsBox {
  max-width: 100px;
  height: 60px;
  position: absolute;
  text-align: center;
  position: relative;
  z-index: 10;
  margin: 20px auto 0 auto;
}

@media (min-width: 768px) {
  .wordsBox {
    max-width: 100px;
    height: 60px;
    margin: 20px auto 0 auto;
  }
}

.number {
  color: var(--primary);
  font-size: 12px;
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: #e6e2e1;
  padding-top: 5px;
  position: absolute;
  left: 30%;
  top: -35%;
  font-weight: bold;
  border-radius: 50px;
  z-index: -1;
}

.word {
  color: var(--fontSecondary);
  font-size: 15px;
  text-align: center;
  width: 100px;
  height: 40px;
  background-color: #e6e2e1;
  padding-top: 5px;
  border-radius: 30px 20px 20px 30px;
}
