.msgerInputarea {
  border-top: 0.5px solid var(--whiteOutline);
}

.msgerInputarea * {
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 1em;
}

.msgerForm {
  display: flex;
  width: 100%;
}

.msgerInput {
  flex: 1;
  background: #ddd;
}

.msgerSendBtn {
  margin-left: 10px;
  background: var(--blue);
  color: #fff;
  height: 45px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}

.msgerSendBtn:hover {
  background: var(--progressBottom);
}

.sendingBtn {
  background: #ddd;
  color: var(--gray);
}

.sendingBtn:hover {
  background: #ddd;
}
.rightDiv {
  display: flex;
  justify-content: flex-end;
}
.blockText {
  color: var(--font);
  font-weight: bold;
  font-size: 14px;
  font-family: var(--font-roboto);
  margin: 16px 16px;
}

.centerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.replyToContainer {
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 10px;
  gap: 12px;
}

.replyToContainerHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
}

.replyToContainerHeaderText {
  font-size: 14px;
  padding: 0;
}

.replyToContainerMessageText {
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
}
