.container {
  margin: auto;
  width: 100%;
}

.formInput {
  width: 50%;
  @media (max-width:768px) {
    width: 90%;
  }
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.goBack {
  margin: 20px;
}

.formInput > div {
  width: 90%;
  margin: 10px auto;
}

.brand {
  width: 45%;
  @media (max-width:768px) {
    width: 80%;
  }
  margin: auto;
  color: var(--font);
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
}

.image {
  margin-bottom: 10px;
}

.title {
  width: 45%;
  @media (max-width:768px) {
    width: 80%;
  }
  margin: auto;
  color: var(--theme-font);
  font-size: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.button {
  width: 90%;
  margin: auto;
  background-color: var(--background);
  height: 60px;
  border-radius: 10px;
  color: var(--title);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.textConfirm {
  color: red;
  font-size: 12px;
  width: 89%;
  margin: -5px auto 10px auto;
}

.textWarning {
  width: 89%;
  margin: 0 auto 10px auto;
  color: red;
  font-size: 15px;
}

.reset {
  width: 45%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetTitle {
  color: var(--font);
  font-size: 16px;
  margin-bottom: 5px;
}

.resetText {
  color: var(--background);
  font-size: 16px;
  width: 230px;
  text-align: center;
}
