.newChatContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.title {
    color: var(--font);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 400;
    margin-top: 10px;
}

.textConfirm {
    color: red;
    font-size: 14px;
    width: 97%;
    margin: -5px auto 10px auto;
}

.button {
    width: 30%;
    margin: auto;
    background-color: var(--background);
    height: 55px;
    border-radius: 10px;
    color: var(--title);
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.disableBtn {
    background-color: var(--gray);
    cursor: not-allowed;
}

.loaderBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderBtnText {
    margin-left: 12px;
}