.modalDiv {
  max-height: 75vh;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 2px 0;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btnClose {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentBox {
  flex: 1;
  overflow: hidden;
}

.scrollModalDiv {
  max-height: 75vh;
  overflow-y: auto;
  padding: 0 20px 10px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.description {
  margin: 10px 0;
}

.subTitle {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.coinItem {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray);
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 8px 10px;
}

.coinIconWrapper {
  width: 30px;
  height: 30px;
  margin-right: 12px;
  position: relative;
}

.coinIcon {
  border-radius: 50%;
  object-fit: cover;
}

.coinInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
}

.coinHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coinTitleGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.coinSymbol {
  font-weight: 500;
  font-size: 16px;
}

.chainName {
  background-color: var(--walletItemColor);
  color: var(--font);
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
}

:root[data-theme='light'] .chainName {
  background-color: var(--walletItemColor);
  color: black;
  border-radius: 8px;
}

.coinName {
  font-size: 14px;
}

.addButton {
  width: 100%;
  gap: 4px !important;
  background-color: var(--background) !important;
  color: #fff !important;
  border-radius: 6px !important;
  text-transform: none !important;
  box-shadow: none !important;
  height: 50px;
  font-weight: 500;
  transition: background-color 0.2s ease !important;
}

.addButton[data-state='added'] {
  background-color: #4caf50 !important;
}

.addButton[data-state='adding'] {
  background-color: var(--background) !important;
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}

