.container {
  flex: 1;
  background-color: var(--backgroundColor);
  padding: 20px;
}

.contentContainerStyle {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--backgroundColor);
  padding-top: 30px;
}

.inputFrom {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; */

  padding: 10px 20px;
  border: solid 1px var(--whiteOutline);
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--secondaryBackgroundColor);
}

.coinTitle {
  /* width: 30%; */
}

.lable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.inputsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.inputWrapper > label {
  display: flex;
  align-items: center;
}

.title {
  font-size: 15px;
  font-weight: bold;
  color: var(--font);
  width: 70%;
}

.amountAvailable {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.amountAvailableText {
  margin-right: 5px;
  color: var(--gray);
}
.amountAvailableText > span {
  margin-right: 5px;
}

.scurvedIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 22px;
}

.select {
  border-width: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selectInput {
  position: absolute;
  top: 20px;
  left: 20px;
}

.iconBox {
  width: 39px;
  height: 39px;
  color: var(--backgroundColor);
  background-color: var(--font);
  border-radius: 20px;
  margin: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coinTitle {
  width: 100%;
  font-size: 22px;
  color: var(--font);
}

.errorText {
  font-size: 14px;
  color: red;
  text-align: right;
  margin-top: 6px;
}

.warningText {
  font-size: 14px;
  color: #fdab15;
  text-align: center;
  margin-bottom: 8px;
}

.picker {
  width: 1px;
}

.arrow {
  transform: rotate(90deg);
  padding-bottom: 20px;
}

.inputWrapper svg {
  width: 24px;
  fill: var(--gray);
}

.inputsWrapper .loaderWrapper {
  margin-right: 10px;
}

.curvedIcon {
  margin: 20px 0 0px;
  direction: rtl;
}

.textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.rowView {
  margin-top: 16px;
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.text {
  font-size: 14px;
  color: var(--gray);
}
.highlightText{
    font-size: 14px;
    color: var(--background);
    margin-left: 6px;
    cursor: pointer;
    font-weight: 700;
}

.textValue {
  font-size: 14px;
  color: var(--font);
}

.button {
  display: flex;
  margin: 0 auto;
  background-color: var(--background);
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.buttonTitle {
  color: var(--title);
  font-size: 16px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.footerText {
  font-size: 15px;
  color: var(--gray);
  margin-right: 5px;
}

.addressViewWrapper {
  margin-top: 30px;
}
.sliderView {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addressViev {
  border: solid 1px var(--whiteOutline);
  border-width: 1px;
  border-radius: 6px;
}

.input {
  margin: 0 20px;
  background-color: var(--backgroundColor);
}

.boxFooter {
  flex: 1;
  padding-bottom: 20px;
  justify-content: flex-end;
}

.textStyle {
  color: var(--primary);
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 769px) {
  .button {
    width: 50%;
  }
}
