.safeAreaView {
  background-color: var(--backgroundColor);
  padding: 20px;
}

.goBack {
  margin: 20px;
}

.container {
  background-color: var(--backgroundColor);
}

.containerCenterView {
  display: flex;
  flex: 1;
  background-color: var(--backgroundColor);
  align-items: center;
  justify-content: center;
}

.amountTitle {
  display: flex;
  color: var(--font);
  font-size: 32px;
  text-align: left;
  font-weight: bold;
  align-self: center;
}

.title {
  color: var(--font);
  font-size: 16px;
  text-align: left;
}

.iconView {
  display: flex;
  /* padding: 16px 0; */
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.box {
  background-color: var(--whiteOutline);
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.itemView {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.boxTitle {
  color: var(--font);
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.boxBalance {
  display: flex;
  color: var(--gray);
  font-size: 16px;
  text-align: left;
  align-self: center;
}

.formInput {
  /* width: calc(100% - 20px); */
  flex: 1;
}

.boxInput {
  height: 140px;
}

.input {
  margin-bottom: 5px;
  background-color: var(--backgroundColor);
  position: relative;
}

.btnMax {
  display: flex;
  position: absolute;
  top: 42%;
  left: 90%;
  background-color: var(--backgroundColor);
  width: 40px;
  height: 20px;
  border-radius: 5px;
  border-color: var(--backgroundColor);
  color: var(--backgroundColor);
  align-items: center;
  justify-content: center;
}

.btnText {
  color: var(--backgroundColor);
  font-size: 12px;
}

.scan {
  background-color: var(--font);
}

.textConfirm {
  color: red;
  margin-left: 10px;
  font-size: 12px;
}

.listTitle {
  color: var(--font);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;

  font-weight: bold;
  text-transform: uppercase;
}

.blockList {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: calc(100% - 20px);
}

.blockTitle {
  color: var(--font);
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
}

.boxText {
  color: var(--font);
  font-size: 18px;
  text-align: right;
}

.switchList {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px;
}

.switchText {
  color: var(--font);
  font-size: 18px;
  margin-left: 10px;
}

.button {
  display: flex;
  margin: 0 auto;
  background-color: var(--background);
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.buttonTitle {
  color: var(--title);
  font-size: 18px;
}

.errorText {
  font-size: 14px;
  color: red;
  text-align: right;
  margin-bottom: 8px;
}

@media (min-width: 769px) {
  .button {
    width: 50%;
  }
}
