.btn {
  padding: 5px 20px;
}

.btn > svg {
  fill: var(--font);
  display: block;
  height: 24px;
  width: 24px;
}

.popoverItemView {
  padding: 16px 24px;
  background-color: var(--backgroundColor);
  border-bottom: 1px solid var(--gray);

}
.popoverItemText {
  color: var(--font);
  font-size: 14px;
  font-family: var(--font-roboto);
  font-weight: 600;
}
