.list {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: 8px;
  margin-bottom: 16px;
  height:60px;
  padding: 0 8px;
}

.iconBox {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.items {
  width: 100%;
}

.rowView {
  display: flex;
  align-items: center;
  flex:1
}

.itemDescription {
  color: var(--primary);
  font-size: 14px;
  font-family: var(--font-roboto);
  font-weight: 400;
  line-height: 17px;
  max-height: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-left: 3px;
}
.itemDescriptionTitle {
  color:  var(--font);
  font-size: 14px;
  font-family: var(--font-roboto);
  font-weight: 500;
  line-height: 17px;
}
.itemTitle {
  color: var(--background);
  font-size: 14px;
  font-family: var(--font-roboto);
  font-weight: 500;
  line-height: 17px;
  max-height: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
  margin-top: 4px;
}
