.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background-color: var(--secondaryBackgroundColor);
    border-radius: 10px;
    width: 95%;
    max-width: 800px;
    position: relative;
}

.modalDiv {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.modalHeader {
    padding: 15px;
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

.headerText {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.btnClose {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--font);
    font-size: 24px;
}

.btnClose:hover {
    opacity: 0.8;
}

.tabBar {
    display: flex;
    background-color: var(--secondaryBackgroundColor);
}

.tab {
    flex: 1;
    padding: 12px 24px;
    background: none;
    border: none;
    color: var(--font);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.tab:first-child {
    border-right: 1px solid var(--gray);
}


.activeTab {
    background-color: var(--background);
    color: white;
}

.contentBox {
    flex: 1;
    overflow: hidden;
    padding: 0 20px;
}

.scrollModalDiv {
    overflow-y: auto;
    height: 55vh;
    padding-right: 10px;
}

.scrollModalDiv::-webkit-scrollbar {
    width: 6px;
}

.scrollModalDiv::-webkit-scrollbar-track {
    background: var(--secondaryBackgroundColor);
}

.scrollModalDiv::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 3px;
}

.loader {
    height: 52px;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.modalBody {
    width: 100%;
    margin: 0 auto;
}

.search {
    background-color: var(--secondaryBackgroundColor);
    font-size: 18px;
    padding: 0 10px !important;
}

@media (min-width: 768px) {
    .modalContent {
        width: 50%;
    }
}

:global(.dark) .modalContent {
    background-color: var(--secondaryBackgroundColor);
    color: var(--font);
}

:global(.dark) .tab {
    color: var(--font);
}

:global(.dark) .activeTab {
    color: white;
    background-color: var(--background);
}

