.title {
  color: var(--font);
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borderActiveColor);
}

.formInput {
  display: flex;
  flex-direction: column;
}

.button {
  width: 100px;
  background-color: var(--background);
  height: 40px;
  border-radius: 10px;
  color: var(--title);
  font-size: 16px;
}

.messageListWrapper {
  max-height: calc(100vh - 165px);
  overflow-y: auto;
}

.messageListItem {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 0.5px solid var(--gray);
}

.messageListItem:hover {
  background-color: var(--backdrop);
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
}

.itemHeader h5 {
  font-size: 14px;
  font-weight: normal;
}

.itemHeader h4 {
  font-size: 14px;
  font-weight: normal;
  color: var(--gray);
  margin-right: 8px;
}

.lastMsgText {
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
}

.rightArrowIcon {
  color: var(--gray);
}

.extraElementContainer {
  display: flex;
  justify-content: flex-end;
}

.noConversationWrapper {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 266px);
}

.noConversationWrapper .newChatSubTitle {
  font-size: 14px;
  color: var(--gray);
}

@media screen and (max-width: 768px) {
  .extraElementContainer .button {
    width: 70px;
    font-size: 13px;
    height: 34px;
  }
}