.container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(var(--app-height) - 70px);
}
.dropdownContainer {
  width: 100%;
  margin-bottom: 24px;
  border: 1px solid #989898;
  border-radius: 4px;
}
.listTitle {
  color: var(--font);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;

  font-weight: bold;
  text-transform: uppercase;
}
.listTitle {
  color: var(--font);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;

  font-weight: bold;
  text-transform: uppercase;
}

.boxInput {
  height: 100px;
  position: relative;
  min-width: 45%;
}

.input {
  background-color: var(--backgroundColor);
  border: 1px solid;
  border-radius: 6px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: var(--font);
}
.rowView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
  gap: 10px;
}
.url {
  color: var(--gray);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex:1
}
.copyButton {
  background-color: var(--background);
  border-radius: 4px;
  padding-top: 6px;
}
.flexView {
  flex: 1;
  display:flex;
}


@media (max-width: 768px) {
  .rowView {
    flex-direction: column;
  }
}
